<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Qoliber.
 *
 * @category    Qoliber
 * @package     Qoliber_OptionalTermsAndConditions
 * @author      Jakub Winkler <jwinkler@qoliber.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Qoliber_OptionalTermsAndConditions">
        <sequence>
            <module name="Magento_CheckoutAgreements" />
        </sequence>
    </module>
</config>
